<%= PlausibleWeb.EmailView.greet_recipient(assigns) %>
<br /><br />

<%= @inner_content %>
<br /><br />

<%= if ee?() do %>Regards,<br />
Equipo Ikani 💌
<br /><br /><% end %>

--
<br /><br />
<%= link("Ikani Digital", to: "ikanidigital.com") %><br />

<%= if ee?() do %>{{{ pm:unsubscribe }}}<% end %>
